[submodule "secp256k1-zkp"]
	path = libraries/fc/vendor/secp256k1-zkp
	url = https://github.com/cryptonomex/secp256k1-zkp.git
[submodule "tests_api"]
	path = tests/tests_api
	url = ../tests_api.git
[submodule "test_tools"]
	path = tests/test_tools
	url = ../test-tools.git
[submodule "websocketpp"]
	path = libraries/fc/vendor/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "schemas"]
	path = tests/schemas
	url = ../schemas.git
[submodule "libraries/vendor/zstd"]
	path = libraries/vendor/zstd
	url = https://github.com/facebook/zstd.git
[submodule "libraries/chain/compression_dictionaries"]
	path = libraries/chain/compression_dictionaries
	url = ../compression_dictionaries.git
