[submodule "tests_api"]
	path = tests/python/hive-local-tools/tests_api
	url = ../tests_api.git
	shallow = true
[submodule "test_tools"]
	path = tests/python/hive-local-tools/test-tools
	url = ../test-tools.git
	shallow = true
[submodule "libraries/vendor/zstd"]
	path = libraries/vendor/zstd
	url = https://github.com/facebook/zstd.git
	shallow = true
[submodule "libraries/chain/compression_dictionaries"]
	path = libraries/chain/compression_dictionaries
	url = ../compression_dictionaries.git
	shallow = true
[submodule "libraries/vendor/rocksdb"]
	path = libraries/vendor/rocksdb
	url = https://github.com/facebook/rocksdb.git
	shallow = true
[submodule "npm-common-config"]
	path = programs/beekeeper/beekeeper_wasm/npm-common-config
	url = ../common-ci-configuration.git
[submodule "libraries/fc"]
	path = libraries/fc
	url = ../fc.git
