stages:
- build
- test
- cleanup

variables:
  PYTEST_NUMBER_OF_PROCESSES: 8
  GIT_DEPTH: 1
  GIT_SUBMODULE_STRATEGY: recursive
  # pin to specific docker images for build repeatability
  #points registry.gitlab.syncad.com/hive/hive/runtime:ubuntu-20.04-3
  RUNTIME_IMAGE_TAG: "@sha256:58b2ef26ece0463bad9ba61c665ffb9dc4255a4d65b27f56048786e3fae7b2e5"
  #points registry.gitlab.syncad.com/hive/hive/builder:ubuntu-20.04-3
  BUILDER_IMAGE_TAG: "@sha256:590750387c74c470ee30910502b4f855122eae9ef9c6e7ad0841985abdc3938c"
  #points registry.gitlab.syncad.com/hive/hive/test:ubuntu-20.04-3
  TEST_IMAGE_TAG: "@sha256:991f5c225ea66dccabd43ae18ebe9cc4c90dc2b14d80625202f96e041c832ac6"
  #points to our clone of python:3.8-slim-bullseye
  PYTHON_BULLSEYE_TAG: "@sha256:c4dc24a9761fe0a7b3f498fe677e8129ab0a62d72a3beae5ea899482f104a962"
  # Versions of Python packages
  PYTEST_VERSION: "7.1.2"
  PYTEST_XDIST_VERSION: "2.5.0"
  PYTEST_TIMEOUT_VERSION: "2.1.0"
  PYTEST_RERUN_FAILURES_VERSION: "10.2"

include: '/scripts/ci-helpers/prepare_data_image_job.yml'

prepare_hived_data_image:
  extends: .prepare_hived_data_5m_image
  stage: build
  variables:
    REGISTRY_USER: "$HIVED_CI_IMGBUILDER_USER"
    REGISTRY_PASS: $HIVED_CI_IMGBUILDER_PASSWORD

  tags:
    - public-runner-docker
    - hived-for-tests

cleanup_hived_data_image:
  extends: .docker_image_cleanup_job
  stage: cleanup
  dependencies:
    - prepare_hived_data_image

  variables:
    REGISTRY: $CI_REGISTRY_IMAGE
    REGISTRY_USER: "$HIVED_CI_IMGBUILDER_USER"
    REGISTRY_PASS: $HIVED_REGISTRY_CLEANUP_TOKEN
    IMAGE_PATH: $HIVED_IMAGE_NAME_REGISTRY_PATH
    IMAGE_TAG: $HIVED_IMAGE_NAME_REGISTRY_TAG

  tags:
    - public-runner-docker
    - hived-for-tests

testnet_node_build:
  stage: build
  image: "$CI_REGISTRY_IMAGE/builder$BUILDER_IMAGE_TAG"
  interruptible: true
  script:
    # TESTNET=ON HIVE_LINT=OFF
    - ./ciscripts/build.sh ON OFF
    - mkdir -p "$CI_JOB_NAME"/tests/unit
    - mv build/install-root "$CI_JOB_NAME"
    - mv contrib/hived.run "$CI_JOB_NAME"
    - mv contrib/config-for-docker.ini "$CI_JOB_NAME"
    - mv build/tests/unit/chain_test build/tests/unit/plugin_test "$CI_JOB_NAME"/tests/unit
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    paths:
    - "$CI_JOB_NAME"
    expire_in: 6 hours
  tags:
     - public-runner-docker
     - hived-for-tests
     - hived

mirrornet_node_build:
  stage: build
  extends: .prepare_hived_data_5m_image
  interruptible: true
  variables:
    REGISTRY_USER: "$HIVED_CI_IMGBUILDER_USER"
    REGISTRY_PASS: "$HIVED_CI_IMGBUILDER_PASSWORD"
    IMAGE_TAG: "$CI_COMMIT_SHA"
    SOURCES_DIR: "."
    REGISTRY_URL: "$CI_REGISTRY_IMAGE"
    BINARIES_DIR: "$CI_PROJECT_DIR/hived-mirrornet-binaries"
  script:
    - echo "Building hived in mirrornet mode"
    - ./scripts/ci-helpers/build_instance.sh
      "$IMAGE_TAG"
      "$SOURCES_DIR"
      "$REGISTRY_URL"
      --network-type="mirrornet"
      --export-binaries="$BINARIES_DIR"
  artifacts:
    paths:
      - "$BINARIES_DIR"
  tags:
    - public-runner-docker
    - hived-for-tests

mirrornet_replay_test:
  stage: test
  image: "$CI_REGISTRY_IMAGE/runtime$RUNTIME_IMAGE_TAG"
  needs: [ "mirrornet_node_build" ]
  variables:
    BINARIES_DIR: "$CI_PROJECT_DIR/hived-mirrornet-binaries"
    BLOCK_LOG_SOURCE_DIR: "/blockchain"
    NUMBER_OF_BLOCKS: 5000000
    CHAIN_ID: 42
    SKELETON_KEY: "5JNHfZYKGaomSFvd4NUdQ9qMcEAC43kujbfjueTHpVapX1Kzq2n"
    MIRRORNET_WORKING_DIR: "$CI_PROJECT_DIR/mirrornet"
    MAINNET_TRUNCATED_DIR: "$CI_PROJECT_DIR/mainnet"
  interruptible: true
  before_script:
    - export NUMBER_OF_PROCESSES=8
    - mkdir -p "$MAINNET_TRUNCATED_DIR"
    - mkdir -p "$MIRRORNET_WORKING_DIR/blockchain/"
    - cp "$CI_PROJECT_DIR/docker/config_mirrornet_5M.ini" "$MIRRORNET_WORKING_DIR/config.ini"
    - cd "$BINARIES_DIR"
  script:
    - echo "Compressing block log to $NUMBER_OF_BLOCKS blocks with $NUMBER_OF_PROCESSES processes"
    - time ./compress_block_log
      -i "$BLOCK_LOG_SOURCE_DIR"
      -o "$MAINNET_TRUNCATED_DIR"
      --decompress
      -n $NUMBER_OF_BLOCKS
      --jobs $NUMBER_OF_PROCESSES
    - echo "Converting block log to mirrornet format with $NUMBER_OF_PROCESSES processes"
    - time ./blockchain_converter
      --plugin block_log_conversion
      -i "$MAINNET_TRUNCATED_DIR/block_log"
      -o "$MIRRORNET_WORKING_DIR/blockchain/block_log"
      --chain-id $CHAIN_ID
      --private-key "$SKELETON_KEY"
      --use-same-key
      --jobs $NUMBER_OF_PROCESSES
    - echo "Starting hived replay"
    - ./hived
      -d "$MIRRORNET_WORKING_DIR"
      --chain-id $CHAIN_ID
      --skeleton-key "$SKELETON_KEY"
      --set-benchmark-interval 100000
      --force-replay
      --stop-replay-at-block $NUMBER_OF_BLOCKS
      --exit-before-sync | tee hived-replay.log
  artifacts:
    paths:
      - "$BINARIES_DIR/*.log"
  tags:
    - public-runner-docker
    - hived-for-tests

chain_test:
  stage: test
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/runtime$RUNTIME_IMAGE_TAG"
  interruptible: true
  variables:
    GIT_STRATEGY: none
  script:
    - timeout 23m ./testnet_node_build/tests/unit/chain_test --log_format=JUNIT --log_sink=chain_test_results.xml --log_level=error > chain_test.log 2>&1
  artifacts:
    reports:
      junit: chain_test_results.xml
    paths:
      - chain_test.log
    when: always
    expire_in: 6 months
  tags:
    - public-runner-docker

plugin_test:
  stage: test
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/runtime$RUNTIME_IMAGE_TAG"
  interruptible: true
  variables:
    GIT_STRATEGY: none
  script:
    # note: consider using --result_code=no to force exit code 0 even when tests fail because they currently fail and I want a nice green checkmark
    - timeout 6m ./testnet_node_build/tests/unit/plugin_test --log_format=JUNIT --log_sink=plugin_test_results.xml --log_level=error > plugin_test.log 2>&1
  artifacts:
    reports:
      junit: plugin_test_results.xml
    paths:
      - plugin_test.log
    when: always
    expire_in: 6 months
  tags:
    - public-runner-docker

.run-pytest: &run-pytest
  # Usage:
  # 1. Add - *run-pytest to your script section.
  # 2. Set the appropriate values for:
  #    - PYTEST_TIMEOUT_MINUTES (required)
  #    - PYTEST_NUMBER_OF_PROCESSES (default: defined via global CI variable)
  #    - PYTEST_LOG_DURATIONS (default: 0 - disabled)
  #    - PYTEST_ARGS (default: "" - empty)
  #      Best to export PYTEST_ARGS as array (e.g. `export PYTEST_ARGS=(-m testnet)`. In some cases setting PYTEST_ARGS as string will fail.
  - if [ -z "$PYTEST_TIMEOUT_MINUTES" ]; then echo "Required variable PYTEST_TIMEOUT_MINUTES was not set!"; exit 22; fi
  - if [ $PYTEST_NUMBER_OF_PROCESSES -gt 1 ]; then PROCESSES="-n ${PYTEST_NUMBER_OF_PROCESSES}";  fi
  - if [ ${PYTEST_LOG_DURATIONS:=0} -ge 1 ]; then DURATIONS="--durations 0";  fi
  - |
    echo "Launching pytest
     - timeout (minutes): ${PYTEST_TIMEOUT_MINUTES}
     - processes: ${PYTEST_NUMBER_OF_PROCESSES}
     - log durations: ${PYTEST_LOG_DURATIONS}
     - additional arguments: ${PYTEST_ARGS[@]}"
  - timeout $((($PYTEST_TIMEOUT_MINUTES + 2) * 60)) pytest --timeout=$(($PYTEST_TIMEOUT_MINUTES * 60)) --junitxml="./report.xml" "${PROCESSES}" "${DURATIONS}" "${PYTEST_ARGS[@]}"

.beem_setup : &beem_setup
  - git clone --depth=1 --single-branch --branch master https://gitlab.syncad.com/hive/beem.git
  - python3 -m venv venv/
  - . venv/bin/activate
  - python3 -m pip install --upgrade pip
  - pip3 install junit-xml python-dateutil
  - cd beem
  - python3 -m pip install --upgrade -r requirements-test.txt
  - python3 setup.py install
  - cd ..
  - mkdir -p build/tests/hive-node-data

beem_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 18
    PYTHONPATH: $CI_PROJECT_DIR/tests/functional
  script:
    - *beem_setup
    - cd tests/functional/python_tests/dhf_tests
    - *run-pytest
  artifacts:
    reports:
      junit: tests/functional/python_tests/dhf_tests/report.xml
  tags:
    - public-runner-docker

.test_tools_based:
  variables:
    HIVED_PATH: "$CI_PROJECT_DIR/testnet_node_build/install-root/bin/hived"
    CLI_WALLET_PATH: "$CI_PROJECT_DIR/testnet_node_build/install-root/bin/cli_wallet"
    GET_DEV_KEY_PATH: "$CI_PROJECT_DIR/testnet_node_build/install-root/bin/get_dev_key"
    TEST_TOOLS_NODE_DEFAULT_WAIT_FOR_LIVE_TIMEOUT: "60"
  interruptible: true
  before_script:
    - apt-get update -y && apt-get install -y python3 python3-pip python3-dev python3-venv
    - python3 -m venv venv/
    - . venv/bin/activate
    - pip3 install pytest==${PYTEST_VERSION} pytest-xdist==${PYTEST_XDIST_VERSION} pytest-timeout==${PYTEST_TIMEOUT_VERSION} "$CI_PROJECT_DIR/tests/test_tools"
  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    paths:
    - "**/generated_during_*"
    - "**/generated_by_package_fixtures"
    when: always
    expire_in: 1 week

.test_tools_based_with_faketime:
  extends: .test_tools_based
  before_script:
    - !reference [.test_tools_based, before_script]
    - git clone --depth 1 --branch master https://github.com/wolfcw/libfaketime.git
    - cd libfaketime && make
    - export LIBFAKETIME_PATH=`pwd`/src/libfaketimeMT.so.1
    - cd ..

cli_wallet_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 30
    PYTEST_NUMBER_OF_PROCESSES: 1
  script:
    - cd tests/functional/python_tests/cli_wallet
    - *run-pytest
  tags:
    - public-runner-docker
  artifacts:
    reports:
      junit: tests/functional/python_tests/cli_wallet/report.xml

hived_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 21
    PYTEST_NUMBER_OF_PROCESSES: 1
  script:
    - cd tests/functional/python_tests/hived
    - *run-pytest
  tags:
    - public-runner-docker
  artifacts:
    reports:
      junit: tests/functional/python_tests/hived/report.xml

cli_wallet_extended_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 14
  script:
    - cd tests/functional/python_tests/cli_wallet_extended_tests
    - *run-pytest
  artifacts:
    reports:
      junit: tests/functional/python_tests/cli_wallet_extended_tests/report.xml
  tags:
    - public-runner-docker

fork_tests:
  stage: test
  extends: .test_tools_based_with_faketime
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 10
  script:
    - cd tests/functional/python_tests/fork_tests
    - *run-pytest
  artifacts:
    reports:
      junit: tests/functional/python_tests/fork_tests/report.xml
  tags:
    - public-runner-docker

hf26_tests:
  stage: test
  extends: .test_tools_based_with_faketime
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 20
    SIGN_TRANSACTION_PATH: "$CI_PROJECT_DIR/testnet_node_build/install-root/bin/sign_transaction"
  script:
    - cd tests/functional/python_tests/hf26_tests
    - *run-pytest
  artifacts:
    reports:
      junit: tests/functional/python_tests/hf26_tests/report.xml
  tags:
    - public-runner-docker

live_sync_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTHONPATH: $CI_PROJECT_DIR/tests/test_tools/package
  script:
    - apt-get update -y && apt-get install -y tox
    - cd tests/functional/python_tests/live_sync_tests
    - timeout 11m tox
  artifacts:
    reports:
      junit: tests/functional/python_tests/live_sync_tests/report.xml
  tags:
    - public-runner-docker

broadcast_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 6
  script:
    - cd tests/functional/python_tests/broadcast_tests
    - *run-pytest
  artifacts:
    reports:
      junit: tests/functional/python_tests/broadcast_tests/report.xml
  tags:
    - public-runner-docker

test_tools_tests:
  stage: test
  extends: .test_tools_based_with_faketime
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 30
  script:
    - cd tests/test_tools/tests
    - pip install local-tools/
    - *run-pytest
  artifacts:
    reports:
      junit: tests/test_tools/tests/report.xml
  tags:
    - public-runner-docker

rc_direct_delegations_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 12
  script:
    - cd tests/functional/python_tests/direct_rc_delegations_tests
    - *run-pytest
  artifacts:
    reports:
      junit: tests/functional/python_tests/direct_rc_delegations_tests/report.xml
  tags:
    - public-runner-docker

message_format_testnet_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 24
    SIGN_TRANSACTION_PATH: "$CI_PROJECT_DIR/testnet_node_build/install-root/bin/sign_transaction"
    TEST_TOOLS_VALIDATE_RESPONSE_SCHEMAS: "TRUE"
    NODE_TYPE: "testnet"
  script:
    - cd tests/api_tests/message_format_tests
    - pip3 install "$CI_PROJECT_DIR/tests/schemas"
    - export PYTEST_ARGS=(-m "${NODE_TYPE} or (not testnet and not mainnet_5m and not mainnet_64m)")
    - *run-pytest
  artifacts:
    reports:
      junit: tests/api_tests/message_format_tests/report.xml
  tags:
    - public-runner-docker

datagen_api_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 10
    SIGN_TRANSACTION_PATH: "$CI_PROJECT_DIR/testnet_node_build/install-root/bin/sign_transaction"
  script:
    - cd tests/functional/python_tests/datagen_tests/api_tests/
    - *run-pytest
  artifacts:
    reports:
      junit: tests/functional/python_tests/datagen_tests/api_tests/report.xml
  tags:
    - public-runner-docker

patterns_tests:
  stage: test
  image: "$CI_REGISTRY_IMAGE/python$PYTHON_BULLSEYE_TAG"
  variables:
    FF_NETWORK_PER_BUILD: 1
    PYTHONPATH: "$CI_PROJECT_DIR/tests/test_tools/package"
    TEST_SUITE: "(condenser_api_patterns and (get_block or get_block_header) ) or block_api_patterns or (not get_transaction_hex and (get_transaction or get_account_history or enum_virtual_ops or get_ops_in_block))"
  needs:
    - job: prepare_hived_data_image
      artifacts: true

  services:
    - name: $HIVED_IMAGE_NAME
      alias: hived-instance

  before_script:
    - echo "HIVED image name $HIVED_IMAGE_NAME"
    - pip install tox==3.25.1
    - pip install -r $CI_PROJECT_DIR/tests/api_tests/comparsion_tests/requirements.txt

  script:
    # run pattern tests
    - cd $CI_PROJECT_DIR/tests/api_tests/pattern_tests
    - timeout 33m ./run_tests.sh hived-instance:8090 "$CI_PROJECT_DIR" "${TEST_SUITE}" FALSE

  artifacts:
    when: always
    reports:
      junit: tests/api_tests/pattern_tests/results.xml
    paths:
    - "$CI_JOB_NAME"
    - "**/from_node.log"
    - "**/ah.log"
    - "**/*.out.json"
    - "$CI_PROJECT_DIR/tests/tests_api/hived/workdir_*"
    when: always
    expire_in: 6 hours
  tags:
    - public-runner-docker
    - hived-for-tests

transaction_serialization_testnet_tests:
  stage: test
  extends: .test_tools_based_with_faketime
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 15
  script:
    - cd $CI_PROJECT_DIR/tests/functional/python_tests/transaction_serialization_tests
    - export PYTEST_ARGS=(-m testnet)
    - *run-pytest
  artifacts:
    reports:
      junit: tests/functional/python_tests/transaction_serialization_tests/report.xml
  tags:
    - public-runner-docker

python_pattern_mainnet_tests:
  stage: test
  image: "$CI_REGISTRY_IMAGE/python$PYTHON_BULLSEYE_TAG"
  interruptible: true
  variables:
    PYTEST_TIMEOUT_MINUTES: 27
    TEST_TOOLS_NODE_DEFAULT_WAIT_FOR_LIVE_TIMEOUT: "60"
  needs:
    - job: prepare_hived_data_image
      artifacts: true

  services:
    - name: $HIVED_IMAGE_NAME
      alias: hived-instance

  before_script:
    - echo "HIVED image name $HIVED_IMAGE_NAME"
    - apt update && apt install -y bash git ca-certificates curl build-essential python3-dev
    - python3 -m ensurepip
    - pip3 install pytest pytest-xdist pytest-timeout==${PYTEST_TIMEOUT_VERSION} "$CI_PROJECT_DIR/tests/test_tools" pytest-timeout==${PYTEST_TIMEOUT_VERSION}

  script:
    # run pattern tests
    - cd $CI_PROJECT_DIR/tests/api_tests/python_patterns_tests
    - export PYTEST_ARGS=(-m mainnet_5m --http-endpoint hived-instance:8090 --ws-endpoint hived-instance:8090 --wallet-path $CI_PROJECT_DIR/hived-mainnet-binaries/cli_wallet)
    - *run-pytest

  artifacts:
    name: "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
    reports:
      junit: $CI_PROJECT_DIR/tests/api_tests/python_patterns_tests/report.xml
    paths:
    - "**/generated_during_*"
    - "**/generated_by_package_fixtures"
    when: always
    expire_in: 1 week
  tags:
    - public-runner-docker
    - hived-for-tests

.message_format_tests:
  image: "$CI_REGISTRY_IMAGE/python$PYTHON_BULLSEYE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 30
    TEST_TOOLS_VALIDATE_RESPONSE_SCHEMAS: "TRUE"
  script:
    - apt update && apt install -y bash git ca-certificates curl build-essential python3-dev
    - python3 -m ensurepip
    - pip3 install pytest pytest-xdist pytest-timeout==${PYTEST_TIMEOUT_VERSION} "$CI_PROJECT_DIR/tests/test_tools" "$CI_PROJECT_DIR/tests/schemas"
    - cd tests/api_tests/message_format_tests
    - export PYTEST_ARGS=(-m ${NODE_TYPE} --http-endpoint=${NODE_ADDRESS})
    - *run-pytest
  artifacts:
    reports:
      junit: tests/api_tests/message_format_tests/report.xml
  tags:
    - public-runner-docker
    - hived-for-tests

message_format_mainnet_5m_tests:
  extends: .message_format_tests
  needs:
    - job: prepare_hived_data_image
      artifacts: true
  services:
    - name: $HIVED_IMAGE_NAME
      alias: hived-instance
  variables:
    NODE_ADDRESS: "hived-instance:8090"
    NODE_TYPE: "mainnet_5m"

message_format_mainnet_64m_tests:
  extends: .message_format_tests
  variables:
    NODE_ADDRESS: "http://api.fqdn.pl:8092"
    NODE_TYPE: "mainnet_64m"
  rules:
    # Run this job, only when environment variable "RUN_MESSAGE_FORMAT_TESTS_ON_MAINNET_64M" is set
    - if: $RUN_MESSAGE_FORMAT_TESTS_ON_MAINNET_64M == "TRUE"
      when: always

foundation_layer_tests:
  stage: test
  extends: .test_tools_based
  needs:
    - job: testnet_node_build
      artifacts: true
  image: "$CI_REGISTRY_IMAGE/test$TEST_IMAGE_TAG"
  variables:
    PYTEST_TIMEOUT_MINUTES: 3
  script:
    - pip install pytest-rerunfailures==${PYTEST_RERUN_FAILURES_VERSION}
    - cd tests/functional/python_tests/foundation_layer_tests
    - *run-pytest
  artifacts:
    reports:
      junit: tests/functional/python_tests/foundation_layer_tests/report.xml
  tags:
    - public-runner-docker
