[submodule "libraries/fc/vendor/secp256k1-zkp"]
	path = libraries/fc/vendor/secp256k1-zkp
	url = https://github.com/cryptonomex/secp256k1-zkp.git
[submodule "tests/tests_api"]
	path = tests/tests_api
	url = ../tests_api.git
[submodule "tests/test_tools"]
	path = tests/test_tools
	url = ../test-tools.git
[submodule "libraries/fc/vendor/websocketpp"]
	path = libraries/fc/vendor/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
