
add_library( hive_jsonball
   mm_ticks.cpp
   rc_params.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/hive/jsonball/jsonball.hpp
)

target_link_libraries( hive_jsonball fc )

target_include_directories( hive_jsonball PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include" )

INSTALL( TARGETS
   hive_jsonball

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
