#include <appbase/application.hpp>
#include <boost/preprocessor/seq/for_each.hpp>

#include <hive/manifest/plugins.hpp>

{% for plugin in plugins %}
#include <hive/plugins/{{ plugin["plugin_name"] }}/{{ plugin["plugin_name"] }}_plugin.hpp>
{% endfor %}

namespace hive { namespace plugins {

void register_plugins( appbase::application& app )
{
   {% for plugin in plugins %}
   app.register_plugin< hive::plugins::{{ plugin["plugin_namespace"] }}::{{ plugin["plugin_name" ] }}_plugin >();
   {% endfor %}
}

} }
